<template name="UserNotLoginError">

    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body" style="text-align:center">
                    <h1 style="font-weight:900;font-size:4em">D'OOOH!</h1>
                    <p class="lead">Para acceder a esta pagina debes ingresar al sitio primero.</p>
                </div>
            </div>
        </div>

    </div>

</template>

<template name="NotFoundError">

    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body" style="text-align:center">
                    <h1 style="font-weight:900;font-size:4em">D'OOOH!</h1>
                    <p class="lead">No hemos encontrado lo que supuestamente estas buscando ... eso es malo. ¿Me puedo ir ya?</p>
                </div>
            </div>
        </div>

    </div>

</template>