<template name="Game">

    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>Juegos. <small>¿A que quieres jugar?</small></h1>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="game-exam-block" class="well" style="text-align:center">
                                <h3 style="margin-top:0;font-weight:900;font-size:2.7em;">Examen</h3>
                                <p class="lead" style="font-weight:400;">Responde preguntas al azar para ver que tanto sabes. Si tu nota es mayor o igual a 8, subes de nivel. Cuidado con reprobar! Buena suerte!.</p>
                                <button id="startGameExam" type="button" class="btn btn-lg btn-success btn-block">Comenzar</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--<div class="well">Pronto ...</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>