<template name="Home">

	<div class="jumbotron" style="padding: 25px;">
      <div class="container">
        <div class="row" style="text-align:center;">
            <div class="col-md-6" >
                <h1 style="font-weight:900;">Bienvenido!</h1>
                <p style="font-weight:300;font-style:italic;">Hola! Tal vez me recuerden por películas como ... Na! Creemos que toda situación de la vida es reducible a un capítulo de Los Simpsons, por eso creamos <b>Simpsonitos</b>.</p>
            </div>
            <div class="col-md-6" >
                <center><img src="/images/home-family.png" class="img-responsive"></center>
            </div>
        </div>
        
      </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <img src="/images/home-icon-ok.png" class="img-responsive">
                        <h2 style="font-weight:300;">Demuestra lo que sabes, invita a tus amigos y diviertete. <br><i style="color:#999;font-size:19px;">... Oye! ¿También fuiste a la Escuela de Medicina en Hollywood?</i></h2>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <img src="/images/home-icon-heart.png" class="img-responsive">
                        <h2 style="font-weight:300;">Para fanáticos como vos, solo ingresa y juega.<br> Es totalmente gratuito. <br><i style="color:#999;font-size:19px;">... ¿Usted va con el auto?</i></h2>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    Nada por aquí.
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default footer">
                <div class="panel-body">
                    <p style="font-size:18px;text-align:right;margin:0px;">
                    	<span>Creado por Ignacio Fiorentino</span>
                    	 - 
                    	<a href="{{ pathFor 'Terms' }}">Terminos y Condiciones</a>
                    </p>
                </div>
            </div>
        </div>

    </div>

</template>