<template name="Terms">

	<div class="row">

        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body" style="font-size:18px;">
                    <h1 style="font-weight:700;">Términos. <small>Condiciones de uso.</small></h1>
                    <hr>
                    <p class="lead" style="color:#AC7439;">Todas las marcas, logos y nombres que se ven en el sitio pertenencen a <b>Matt Groening &#8482;</b> y a la compañía <b>FOX &#8482;</b>. Solamente se emplean en referencia a las mismas y con un fin de cita o comentario, de acuerdo con el articulo 32 de la Ley de Propiedad Intelectual.</p>
                    <hr>
                    <p>Al hacer uso del sitio significa que has leído y comprendido las condiciones que se detallan en esta página.</p>
                    <p>En ningún caso o circunstancia se podrá responsabilizar directa o indirectamente al autor del indebido uso de la información contenida en <i>Simpsonitos</i>. Así mismo tampoco se nos podrá responsabilizar directa o indirectamente del incorrecto uso o mala interpretación que se haga del contenido y de los servicios que brindamos.</p>
                    <hr>
                    <a href="{{ pathFor 'Home' }}" class="btn btn-default">Volver al inicio</a>
                </div>
            </div>
        </div>

    </div>

</template>